extends layout

block content
  .container
    h1= title
    .row(style="margin-bottom: 30px;")
      .col-sm-4.col-sm-offset-8
        button.btn.btn-danger.btn-block#removeComplete Remove completed tasks
    .row
    if(todos.length==0)
      h3 Well Done! You completed all your tasks.
    else
      ul.list-group
        each todo,idx in todos
          li.list-group-item(class=todo.complete?"complete":"" style="font-size: 1.8em;")= todo.task
            button.btn-complete.btn.btn-warning.pull-right(data-idx= idx) Complete
    .row
      .col-sm-8
        input#todoInput.form-control(name="todo" type=text, placeholder="Add to do", autofocus)
      .col-sm-4
        button#todoBtn.btn.btn-block.btn-primary Add