extends layout

block content
  .container
    h1= title
    .row(style="margin-bottom: 30px;")
      button.btn.btn-danger.pull-right#removeComplete Remove completed tasks
    .row
    ul.list-group
      each todo,idx in todos
        li.list-group-item(class=todo.complete?"complete":"" style="font-size: 1.8em;")= todo.task
          button.btn-complete.btn.btn-warning.pull-right(data-idx= idx) Complete
    form(method="post" action="/").form-horizontal
      .col-sm-8
        input#todoInput.col-sm-8.form-control(name="todo" type=text, placeholder="Add to do", autofocus)
      .col-sm-3
        button#todoBtn.btn.btn-block.btn-primary(type=submit) Add